 * {
    box-sizing: border-box;
}
 
 body{
	max-width: 1920px;
	margin: 0 auto;
    background: linear-gradient(to bottom,  #a6dba6 0%, #0000 100%);
	display: grid;	
	display: flex;
	flex-direction: column;
	min-height: 100dvh; 
	margin: 0;	
	
 }

body > * {

  border-radius: 5px;
  padding: 10px;
}

.landing-page-background {
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: linear-gradient(to bottom,  #a6dba6 0%, pink 100%);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.landing-page-content {
    max-width: 500px;
    padding: 20px;
    border: 2px solid pink;
    border-radius: 10px;
	background-color: #abf7b1;
	color: #696969;
}

.instructions{
	color: black;		
}
.instructions > ul > li{
	margin: 0.5em;
}

img{
	width: 100%;
	height: auto;
}
header{
	display: flex;
	justify-content: center;
 }
  
header #logo{
    width: 12em;
    height: auto;
}

#top{
	display: grid;
}

#searchBar{
	height: 3em;
	margin-top: 2em;
	width: 20em;
}

 #fruittree-list{
    display: flex;                
    flex-direction: column;       
    gap: 10px;                    
    align-items: flex-start;
    width: 25%;
    min-width: 220px;
    max-width: 300px;
    height: 650px;
    overflow-y: auto;
    border: 1px solid #ccc;
	background-color: white;
	margin-right: 15px;
	
 }
 
 #fruittree-list > button{
	width: 200px;
	background-color: pink;
    padding: 12px;
    font-size: 1rem;
	margin-left: 3em;
    font-family: "Arial, Helvetica", sans-serif;
 }
 
  #fruittree-list > button:hover{
	  background-color: rgba(255, 255, 255, 1);
	  color: pink;
 }
 
.fruittree-popup {
    font-family: Arial, sans-serif;
    min-width: 150px;
	font-size: 16px;
}

.nav-links a {
    display: inline-block;
    padding: 5px;
    text-decoration: none;
    color: #005a9c;
    font-weight: bold;
}

.nav-links a:hover {
    text-decoration: underline;
}

 main{
	display: flex;
 }
 

 
#map {
    height: 800em;
    width: 100%;

    border-style: solid;
    border-color: pink;
    margin-top: 0.5em;
}
 
#main-functionality{
    width: 100%;
    display: flex;
    gap: 15px;
    align-items: flex-start;
}
 
#newsletter{
	width: 100px;
	height: 50px;
	margin-left: 50px;
	background-color: darkblue;	
	color: white;
}
 
a{
	text-decoration: none;	
	color: pink;
}

nav, h1, h2, footer a {
    font-family: "Century Gothic", Tahoma, sans-serif;
}

.footer {
	left: 0;
	bottom: 0;
	width: 100%;	
	text-align: center;
	margin-top: 2em;

}


.footer > ul {
    list-style-type: none;
	display: flex;
    width: 100%;
	justify-content: space-around;	
	background-color: pink;	
	margin: 0;
	height: 3em;
	align-items: center;
}

.footer > ul > li > a{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.25em;
	color: grey;
}
.footer > ul > li > a:hover{
	background-color: rgba(255, 255, 255, 1);
	color: pink;	
}

.transport {
	width: 30px;

}
#walk{
	width: 10px;	
	height: 20px;
}
html, body {
    overflow-x: hidden;
}

/* RESPONSIVENESS */

@media (max-width: 768px) {

    #main-functionality{
        flex-direction: column;
    }

    #fruittree-list{
        width: 100%;
        height: auto;
        max-height: 250px;
    }

    #fruittree-list > button{
        width: 100%;
    }

    #christchurchMap{
        width: 100%;
        height: 500px;
    }

    header > #logo{
        max-width: 40%;
    }

    .footer > ul{
        flex-direction: column;
        height: auto;
        gap: 10px;
        padding: 10px;
    }
}














